{% extends 'furniture/base.html' %}

{% block content %}
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Furniture <em>Scraper</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="products.html">Our Products</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>about</h4>
              <h2>furniture discount finder</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="team-members">
      <div class="container">
        <div class="row">
          <div id="scraped-items" style="text-align: center;"class="col-md-12">
              <button type="button" class="filled-button" name="button">Scrape Mima furniture</button>
            <div style="text-align: center;" class="section-heading">
              <h2>Mima</h2>
            </div>
          </div>

          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="https://hnhr-cdn2.elasticbox.eu/media/catalog/product/cache/c5b0e6136a6dd7f7d91d8b889ed40f35/b/l/blagovaonski-stol-fonetic-160-200-179547-147911-popup_2.jpg" alt="">
                <div class="hover-effect">
                </div>
              </div>
              <div class="down-content">
                <h4 class="item-name">Johnny William</h4>
                <span>CO-Founder</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2020 Sixteen Clothing Co., Ltd.

            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

{% endblock %}

{% block javascript %}
<script type="text/javascript">

var statusInterval;
// var taskId = '{{task}}';
// console.log(taskId)

$(document).ready(function() {

$(document).on('click', 'button', function(){

    $('.section-heading').html('<h2 class="fir fadeIn">Scraping, wait to finish...</h2>');

    $.ajax({
        url: '/fur/home/',
        type: 'POST',
        success:  crawlSuccess,
        //error: crawlFail,
    });




  function checkCrawlStatus(task){
        $.ajax({
            url: '/fur/home/?task_id='+taskId+'/',
            type: 'GET',
            success: function(data){
              if(data.status === 'finished'){
                clearInterval(statusInterval)
                $('.section-heading').html('<h2>Mima results</h2>');
                console.log('works works')
                var list = data.jsi;
                var html = '';
                for(var i=0; i<list.length; i++){
                  html += `

                              <div class="col-md-4">
                                <div class="team-member">
                                  <div class="thumb-container">
                                    <img src="`+list[i].img_link+`" alt="">
                                    <div class="hover-effect">
                                    </div>
                                  </div>
                                  <div class="down-content">
                                    <h4 class="item-name">`+ list[i].item_name +`</h4>
                                    <span>`+ list[i].discount_price +`</span>
                                    <p><s>`+ list[i].old_price +`</s></p>
                                  </div>
                                </div>
                              </div>
                      `;
    }

                $(html).insertAfter($( "#scraped-items" ));

            }
            }
            //error: console.log('no'),
        })
    }

function crawlSuccess(task){
    taskId = task.task
    //uniqueId = data.unique_id;
    statusInterval = setInterval(function() {checkCrawlStatus(taskId);}, 4000);
}

});
});
// function crawlFail(data){
//     $('#progress').html(data.responseJSON.error);
//     $('#progress').attr("class", "alert alert-danger");
// }

</script>
{% endblock %}
