{% extends 'furniture/base.html' %}

{% block content %}
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <div class="team-members">
      <div class="container">
        <div class="row">
          <div id="scraped-items" style="text-align: center;"class="col-md-12">
              <button type="button" class="filled-button" name="button">Scrape Lesnina furniture</button>
            <div style="text-align: center;" class="section-heading">
              <h2>Lesnina</h2>
            </div>
          </div>


        </div>
      </div>
    </div>


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2020 Sixteen Clothing Co., Ltd.

            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

{% endblock %}

{% block javascript %}
<script type="text/javascript">

var statusInterval;
// var taskId = '{{task}}';
// console.log(taskId)

$(document).ready(function() {

$(document).on('click', 'button', function(){

    $('.section-heading').html('<h2 class="fir fadeIn">Scraping, wait to finish...</h2>');

    $.ajax({
        url: '/lesnina/',
        type: 'POST',
        success:  crawlSuccess,
        //error: crawlFail,
    });




  function checkCrawlStatus(task){
        $.ajax({
            url: '/lesnina/?task_id='+taskId+'/',
            type: 'GET',
            success: function(data){
              if(data.status === 'finished'){
                clearInterval(statusInterval)
                $('.section-heading').empty();
                $('.section-heading').html('<h2>Lesnina results</h2>');
                console.log('works works')
                var list = data.jsi;
                var html = '';
                for(var i=0; i<list.length; i++){
                  if(list[i].old_price){
                  html += `

                              <div class="col-md-4">
                                <div class="team-member">
                                    <a href="`+list[i].page_link+`">
                                  <div class="thumb-container">
                                    <img src="`+list[i].img_link+`" alt="">
                                    <div class="hover-effect">
                                    </div>
                                  </div>
                                  <div class="down-content">
                                    <h4 class="item-name">`+ list[i].item_name +`</h4>
                                    <span>`+ list[i].discount_price +`</span>
                                    <p><s>`+ list[i].old_price +`</s></p>
                                  </div>
                                  </a>
                                </div>
                              </div>
                      `;
                      }
                    else{
                      html += `

                                  <div class="col-md-4">
                                    <div class="team-member">
                                        <a href="`+list[i].page_link+`">
                                      <div class="thumb-container">
                                        <img src="`+list[i].img_link+`" alt="">
                                        <div class="hover-effect">
                                        </div>
                                      </div>
                                      <div class="down-content">
                                        <h4 class="item-name">`+ list[i].item_name +`</h4>
                                        <span>`+ list[i].low_price +`</span>
                                        <p>Niska cijena</p>
                                      </div>
                                      </a>
                                    </div>
                                  </div>
                          `;
                    }

    }
                $(".col-md-4" ).remove();
                $(html).insertAfter($( "#scraped-items" ));

            }
            }
            //error: console.log('no'),
        })
    }

function crawlSuccess(task){
    taskId = task.task
    //uniqueId = data.unique_id;
    statusInterval = setInterval(function() {checkCrawlStatus(taskId);}, 4000);
}

});
});
// function crawlFail(data){
//     $('#progress').html(data.responseJSON.error);
//     $('#progress').attr("class", "alert alert-danger");
// }

</script>
{% endblock %}
